/* RESET */

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  vertical-align: baseline;
  box-sizing: border-box;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  font-family: "Haas Grot Text R Web", "Helvetica Neue", Helvetica, Arial,
    sans-serif;
  line-height: 1.2;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

li {
  list-style-type: none;
}

input:focus,
select:focus,
textarea:focus,
button:focus {
  outline: none;
}

/* ################################ */

body {
  background-color: #29292e6c;
  padding: 8px;
  height: 100vh;
  font-size: 1vw;
}

.c-layout {
  height: 100%;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 8px;
  margin: 0 auto;
}

.c-main, .c-menu {
  padding: 1.8em;
  border-radius: 16px;
}

.c-menu {
  grid-area: 1 / 1 / 2 / 2;
  background-color: #161618;
  color: #f7f5ff;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.c-main {
  grid-area: 1 / 2 / 2 / 5;
  background-color: #f7f5ff;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.c-menu-input{
  display: flex;
  flex-direction: column;
  gap: 8px;
  margin-bottom: 16px;
}

.cell-input {
  height: 1.6em;
  max-height: 32px;
  border-radius: 100px;
  border: none;
  background-color: #29292E;
  color: #f7f5ff;
  font-size: 1em;
  text-transform: uppercase;
  padding: 4px 16px;
}

.c-menu-btn {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.btn-primary {
  cursor: pointer;
  min-height: 1.7em;
  border-radius: 100px;
  background-color: transparent;
  border: 1px solid #f7f5ff;
  color: #f7f5ff;
  padding: 8px 16px;
  font-size: 1em;
}

.btn-primary:hover {
  background-color: #29292E;
}

.board {
  width: 50em;
  height: calc(50em*0.54);
  border-collapse: separate;
  border-spacing: 4px;
}

.cell {
  height: 25%;
  width: 25%;
  text-transform: uppercase;
  font-weight: bold;
  text-align: center;
  vertical-align: middle;
  cursor: pointer;
  word-break: break-word;
  background-color: #038eaa1e;
  border-radius: 16px;
  padding: 0.5em;
  font-size: 1.2em;
}

.cell.selected {
  background-color: #038DAA;
  color: #f7f5ff;
}
